<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('partials/head') %>
<link rel="stylesheet" href="/css/style.css">
<title><%= products.title %></title>
</head>
<body>  
  <%- include('partials/header') %>
  <div class="container">
    <div class="artwork">
      <img src="<%= products.img %>" alt="Obra de Arte" class="artwork-image"/>
      <div class="container-right"> 
        <div class="artwork-details"> 
          <h2 class="artwork-title"><%= products.title %></h2>
          <p class="artwork-artist">Artista: <%= products.artist.first_name %> <%= products.artist.last_name %></p>
          <p class="artwork-price">$<%= products.price %></p>
          <p class="artwork-description"><%= products.description %></p>
        </div>
        <div class="container-button"> 
         <button class="buttons">+</button> 
         <p class="number"> 0 </p>
         <button class="buttons">-</button> 
      </div>
      <button class="carrito">Agregar al carrito </button>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>