<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Arte | Tienda de Arte</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
        <main>
            <% if (data && data.length > 0) { %>
                <h1>Resultados:</h1>
                <ul>
                    <% data.forEach(product => { %>
                        <li>
                            <h2><%= product.title %></h2>
                            <p><%= product.description %></p>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>No results found</p>
            <% } %>
        </main>
    <%- include('partials/footer') %>
</body>
</html>