<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Arte | Tienda de Arte</title>
    <%- include('partials/head') %>
</head>
<body>
    
    <%- include('partials/header') %>
    <!-- slider bootstrap -->
    <div class="main-topic">
        <div class="slider">
            <div id="carouselExampleAutoplaying" class="carousel slide sliderMargin" data-bs-ride="carousel">
             <div class="carousel-inner">
                    <div class="carousel-item active">
                     <img src="/images/slider1.jpeg" class="d-block w-100" alt="...">
                    </div>
                 <div class="carousel-item">
                     <img src="/images/slider2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/slider3.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preview secciones de productos -->
    <main>
        <h1 class="titulo">Novedades</h1>
        <p class="indexParrafo">Adéntrate en el mundo de la vanguardia artística con las nuevas producciones que nuestros artistas asociados tienen para ti.</p>
        <div class= "container">
            <div class="img-container">
                <%
                let newCount = 0;
                
                for (let i = 0; i < products.length && newCount < 3; i++) {
                    if (products[i].new === true) {
                        newCount++;
                %>
                        <img class="img1" src="<%= products[i].img %>"/>
                <%
                    }
                }
                %>
            </div>
            <div>
                <a href="/productsNew"><button class="previewButton">Ver más</button></a>
            </div>
        </div>
    </main>
    <section>
        <h1 class="titulo">Obras Destacadas</h1>
        <p class="indexParrafo">¡Conoce las obras del momento! Vas a encontrar los cuadros más visitados y los más consultados y requeridos por los coleccionistas y conocedores de arte.</p>
        <div class= "container">
            <div class="img-container">
                <%
                let featured = 0;
                
                for (let i = 0; i < products.length && featured < 3; i++) {
                    if (products[i]) {
                        featured++;
                %>
                        <img class="img1" src="<%= products[i].img %>"/>
                <%
                    }
                }
                %>
            </div>
            <div>
                <a href="/productsFeatured"><button class="previewButton">Ver más</button></a>
            </div>
        </div>
    </section>
    <section>
        <h1 class="titulo">Ofertas</h1>
        <p class="indexParrafo">Las mejores oportunidades las vas a encontrar en Mercado Arte, donde te daremos facilidades para que puedas encontrar esa obra que tanto buscas.</p>
        <div class= "container">
            <div class="img-container">
                <%
                let offer = 0;
                
                for (let i = 0; i < products.length && offer < 3; i++) {
                    if (products[i].on_sale === true) {
                        offer++;
                %>
                        <img class="img1" src="<%= products[i].img %>"/>
                <%
                    }
                }
                %>
            </div>
            <div>
                <a href="/productsonsale"><button class="previewButton">Ver más</button></a>
            </div>
        </div>
    </section>
    <!-- metodos de pago -->
    <h3 class="titulo">Nuestros Métodos de Pago</h3>
    <section class="paymentMethod">
        <div class="method">
            <i class="fa-solid fa-wallet"></i>
            <p>Billeteras Virtuales</p>
        </div>
        <div class="method">
            <i class="fa-regular fa-credit-card"></i>
            <p>Tarjeta de crédito</p>
        </div>
        <div class="method">
            <i class="fa-solid fa-building-columns"></i>
            <p>Transferencia Bancaria</p>
        </div>
    </section>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
