<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="container">
            <h1>Registrate</h1>
            <p>Crea tu cuenta para recibir las últimas noticias en Mercado Arte</p>
            <form action="/register" method="POST" enctype="multipart/form-data">
                <label for="userName">Nombre</label>
                <input type="text" name="userName" id="userName" placeholder="Nombre" value="<%= locals.oldData && oldData.userName ? oldData.userName : "" %>">
                <% if (locals.errors && errors.userName) { %>
                    <p class="error-msg"><%= errors.userName.msg %></p>
                <% } %>

                <label for="userEmail">Correo Electrónico</label>
                <input type="email" name="userEmail" id="userEmail" placeholder="Correo Electrónico" value="<%= locals.oldData && oldData.userEmail ? oldData.userEmail : "" %>">
                <% if (locals.errors && errors.userEmail) { %>
                    <p class="error-msg"><%= errors.userEmail.msg %></p>
                <% } %>

                <label for="userAdress">Direccion</label>
                <input type="adress" name="userAdress" id="userAdress" placeholder="Direccion" value="<%= locals.oldData && oldData.userAdress ? oldData.userAdress : "" %>">
                <% if (locals.errors && errors.userAdress) { %>
                    <p class="error-msg"><%= errors.userAdress.msg %></p>
                <% } %>

                <label for="userPassword">Contraseña</label>
                <input type="password" name="userPassword" id="userPassword" placeholder="Contraseña">
                <% if (locals.errors && errors.userPassword) { %>
                    <p class="error-msg"><%= errors.userPassword.msg %></p>
                <% } %>

                <label for="checkPassword">Confirmar Contraseña</label>
                <input type="password" name="checkPassword" id="checkPassword" placeholder="Confirmar contraseña">
                <% if (locals.errors && errors.checkPassword) { %>
                    <p class="error-msg"><%= errors.checkPassword.msg %></p>
                <% } %>

                <p class="choose-img-p">Elija una foto de perfil</p>
                <div class="img-profile">
                    <input type="file" name="imgProfile" id="imgProfile" accept="image/*">
                    <img src="/images/profile/default-img-profile.jpg" alt="">
                </div>

                <button type="submit">Crear cuenta</button>
                <p class="or"><span class="span-or">or</span></p>
                <p>¿Ya tienes una cuenta? <span><a href="/login">Inicia sesión</a></span></p>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
